{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 引入 ECharts 文件 使用 static 关键字-->
    <script src="{% static 'funana/js/echarts.js' %}"></script>

</head>
</html>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#">as</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active  dropdown-toggle" data-toggle="dropdown" href="#">bs</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">分级漏斗</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">aql过滤</a>
                    <a class="dropdown-item" href="#">winfo过滤</a>
                    <a class="dropdown-item" href="#">idea过滤</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">gate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">other</a>
            </li>
        </ul>
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="main" style="width:640px;height:425px;"></div>
    </div>
    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
                title: {
                    text: 'Haokan FeedBs demo'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['669', '675', '687']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    data: ['201501020100', '201501020130', '201501020200',
                        '201501020230', '201501020300', '201501020330', '201501020400']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'669',
                        type:'line',
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'675',
                        type:'line',
                        data:[220, 282, 201, 234, 290, 430, 410]
                    },
                    {
                        name:'687',
                        type:'line',
                        data:[450, 432, 401, 454, 590, 530, 510]
                    }
                ]
};
        
        // 使用刚指定的配置项和数据显示图表
        myChart.setOption(option);
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

